body {
  margin: 0;
  overflow: hidden;
  background: linear-gradient(to top, #87ceeb, #ffffff);
  font-family: Arial, sans-serif;
}

#scoreBoard {
  position: absolute;
  top: 10px;
  left: 10px;
  color: black;
  font-size: 20px;
}
